#projects{
  height: auto;
  background-color: $whiteSmoke;
  padding-bottom: 80px;
  .project-wrapper{
    width: 100%;
  }
  p{
    width: 70%;
    margin: 0 auto;
  }
  .project-row{
    width: 95%;
    margin: 0 auto;
    .project-description{
      display: flex;
      flex-direction: column;
    }
    p{
      width: 95%;
      padding: 0 15px;
      margin-bottom: 0;
      font-size: 18px;
      line-height: 1.5;
      font-weight: 400;
    }

    a{
      color: $whiteSmoke;
    }
    .col-12{
      display: flex;
      justify-content: space-around;
    }
    h4{
      display: inline-block;
      padding: 40px 0 20px;
      transition: all .4s ease-in-out;
      font-weight: 900;
      font-size: 28px;
      text-align: center;
      &:hover{
        transform: scale(1.15);
      }
    }
    .tech-icons{
      display: flex;
      justify-content: center;
      // flex-direction: column;
      padding: 20px;
      .icon{
        img{
          border-radius: 50%;
          height: 75px;
          width: 75px;
          margin: 10px;
          // border: 1px solid darkGray;
          box-shadow: $boxShadow;
        }
      }
    }

    .carousel-caption{
      h3{
        display: none;
      }
      p{
        font-size: 14px;
        font-weight: 400;
        color: $whiteSmoke;
      }
    }
  }
}
