@import "variables";
@import "navbar";
@import "home";
@import "about";
@import "slick";
@import "macbook";
@import "projects";
@import "contact";

@import url('https://fonts.googleapis.com/css?family=Hind+Siliguri|Lato:900|Ruda:700');

//

// font-family: 'Lato', sans-serif


body{
  font-weight: 900;
  color: white;
  line-height: 1.4;
  text-shadow: $textShadow;
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;

}

main{
  border: 30px solid white;
  height: auto;
  width: 100vw;
  overflow: hidden;
  #about, #projects {
    padding-top: 60px;
  }

  h1{
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
  }
  h2, h3, h4 {
    font-family: 'Ruda', sans-serif;
  }
  h2{
    text-align: justify;
    padding-left: 21%;
  }

  p{
    font-family: 'Hind Siliguri', sans-serif;
    color: rgb(47,79,79);

  }
  a{
    &:hover{
      text-decoration: none;
    }
  }
  .logo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: $projects;
    width: 130px;
    height: 130px;
    border: 8px solid white;
    box-shadow: 0px 0px 7px 1px rgba(171,154,171,0.56);
  }
  img{
    max-width: 100%;
    max-height: 100%;
  }
  .hidden{
    display: none;
  }
}
