@import "variables";
@import "navbar";
@import "home";
@import "about";
@import "slick";
@import "macbook";

@font-face {
  font-family: 'coolvetica';
  src: url('/src/fonts/coolvetica_rg-webfont.woff') format('woff'),
  url('/src/fonts/coolvetica_rg-webfont.woff2') format('woff2');
  font-style: normal;
}

body{
  font-family: 'coolvetica';
  color: white;
  font-size: 30px;
  line-height: 1.4;
  letter-spacing: 2px;
  font-weight: 100;
  text-shadow: $textShadow;
  width: 100%;
  margin: 0;
  padding: 0;
}

main{
  height: auto;
  width: 100vw;
  border: 30px solid white;
}


.logo{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: $projects;
  width: 130px;
  height: 130px;
  border: 8px solid white;
  box-shadow: 0px 0px 7px 1px rgba(171,154,171,0.56);
}

.hidden{
  display: none;
}
